body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button {    
    padding: 0;

    font: inherit;
    color: inherit;
    
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hide-item {
    display: none !important;
}

.button {
    display: inline-block;
    padding: 16px 53px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #fb565a;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset
}

.container {
    box-sizing: border-box;
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header {
    padding-top: 49px;
    padding-bottom: 1px;
    background-color: #eeeeee;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-logo img {
    display: block;
}

.main-navigation {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main-navigation li {
    margin-right: 48px;

    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.main-navigation li:last-of-type {
    margin-right: 0;
}

.main-navigation a {
    display: block;
    box-sizing: border-box;
    padding-bottom: 8px;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #fb565a;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation a.active {
    border-bottom: 2px solid #fb565a;
}

.main-navigation .cart {
    padding-left: 40px;
    margin-left: 197px;

    background-image: url("../img/cart-icon.svg");
    background-position: left bottom 16px;
    background-repeat: no-repeat;
}

.slider {
    background-color: #eeeeee;
}

.slider .container {
    position: relative;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider-list p {
    margin: 0;
}

.slider-item {
    height: 430px;

    background-position: right bottom;
    background-repeat: no-repeat;
}

.slider-item-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slider-item.first {
    background-image: url("../img/slide1.png");
    background-position: bottom right 30px;
}

.slider-item.second {
    background-image: url("../img/slide2.png");
}

.slider-item.third {
    background-image: url("../img/slide3.png");
}

.slider-item .slider-title {
    margin-bottom: 25px;
    width: 515px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-item p:last-of-type {
    margin-bottom: 40px;
    width: 415px;
}

.slider .dots {
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider .dot {
    width: 18px;
    height: 18px;

    background-color: #ffffff;
    border-radius: 9px;
    cursor: pointer;
}

.slider .dot + .dot {
    margin-left: 17px;
}

.slider .dot.active {
    background-image: url("../img/slider-button.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages .container {
    padding-top: 80px;
    padding-bottom: 80px;

    border-bottom: 2px solid #eeeeee;
}

.advantages-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.advantages-item {
    width: 300px;
}

.advantages-item + .advantages-item {
    margin-left: 100px;
}

.advantages-item h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantages-item p {
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    width: 260px;
}

.advantages-item .button {
    padding-right: 39px;
    padding-left: 39px;
}

.advantages-item.app .button {
    background-color: #00ca74;
}

.advantages-item.app .button:hover,
.advantages-item.app .button:focus {
    background-color: #00bc6c;
}

.advantages-item.app .active {
    background-color: #00aa62;
}

.advantages-item.presentation .button {
    background-color: #efc84a;
}

.advantages-item.presentation .button:hover,
.advantages-item.presentation .button:focus {
    background-color: #eab534;
}

.advantages-item.presentation .active {
    background-color: #e5a722;
}

.about-us .container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.about-us .title-wrapper {
    margin-bottom: 38px;
    height: 208px;

    background-image: url("../img/nerds-illustration.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

.about-us .title-wrapper p {
    margin: 0;
    padding: 0;
    width: 660px;
}

.about-us .title-wrapper .section-title {
    padding-top: 38px;
    margin-bottom: 32px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-us .flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.about-us .list-title {
    margin: 0;
    padding: 0;

    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.list-wrapper ul {
    margin: 0;
    margin-top: 25px;
    padding: 0;

    list-style-type: none;
}

.list-wrapper li {
    position: relative;

    padding-left: 37px;
}

.list-wrapper li + li {
    margin-top: 24px;
}

.list-wrapper li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 1px;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.about-us .list-wrapper {
    width: 460px;
}

.about-us .indicator-wrapper {
    width: 360px;
}

.indicator-wrapper .list-title {
    padding-right: 15px;

    text-align: right;
}

.indicator-wrapper table {
    margin-top: 40px;

    border-collapse: collapse;
}

.indicator-wrapper td {
    position: relative;

    padding-bottom: 20px;
    width: 120px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
}

.indicator-wrapper sup {
    position: absolute;
    top: 15px;
    font-size: 25px;
}

.indicator-wrapper th {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}

.logo-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 45px 43px 45px 31px;

    list-style-type: none;

    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.logo-list img {
    display: block;
    opacity: 0.2;
}

.logo-item {
    position: relative;
}

.logo-item a:hover img, 
.logo-item a:focus img {
    opacity: 1;
}

.logo-item a:active img {
    opacity: 0.1;
}

.logo-item-1 {
    margin-right: 96px;
}

.logo-item-2 {
    margin-right: 103px;
}

.logo-item-4 {
    margin-left: auto;
}

.logo-item-1::after,
.logo-item-2::after,
.logo-item-3::after {
    content: "";

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.logo-item-1::after {
    right: -51px;
}

.logo-item-2::after {
    right: -46px;
}

.logo-item-3::after {
    right: -58px;
}

.map {
    display: flex;
    justify-content: center;
}
.map .map-wrapper {
    position: relative;
}

.map .map-wrapper::after {
    content: "";

    position: absolute;
    bottom: 137px;
    right: 390px;

    width: 231px;
    height: 190px;

    background-image: url("../img/map-marker.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.map img {
    display: block;
}

.map iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    border: none;
}

.map .container-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
}

.map .contact {
    position: relative;
    z-index: 2;

    box-sizing: border-box;
    padding: 47px 50px;
    width: 319px;

    background-color: #ffffff;
}

.contact p {
    margin: 0;
    padding: 0;

    line-height: 18px;
}

.contact .contact-title {
    margin-bottom: 27px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.contact .tel {
    margin-top: 18px;
    margin-bottom: 36px;
}

.contact .button {
    padding: 16px 44px;
}

.main-footer .container {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.social-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 140px;
    padding: 0;
    width: 260px;

    list-style-type: none;
}

.social-navigation a {
    display: block;
    width: 78px;
    height: 78px;

    background-color: #e1e1e1;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 39px;
}

.social-navigation a:hover,
.social-navigation a:focus {
    background-color: #e74246;
}

.social-navigation a:active {
    background-color: #d7373b;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.social-navigation .vk-link {
    background-image: url("../img/vk-icon.svg");
}

.social-navigation .vk-link:active {
    background-image: url("../img/vk-icon-active.svg");
}

.social-navigation .fb-link {
    background-image: url("../img/fb-icon.svg");
}

.social-navigation .fb-link:active {
    background-image: url("../img/fb-icon-active.svg");
}

.social-navigation .insta-link {
    background-image: url("../img/insta-icon.svg");
}

.social-navigation .insta-link:active {
    background-image: url("../img/insta-icon-active.svg");
}

.discount-call p {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 22px;
}

.discount-call .discount-call-title {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.modal-layout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}

.modal.write-us {
    position: relative;

    box-sizing: border-box;
    width: 960px;
    padding: 73px 100px 84px;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal.write-us .modal-title {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.write-us-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.write-us-form .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 35px;
}

.write-us-form .textarea-wrapper {
    display: flex;
    flex-direction: column;
    width: 760px;
    margin-bottom: 47px;
}

.write-us-form label {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.write-us-form input,
.write-us-form textarea {
    padding: 14px 12px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #283136;

    border: 2px solid #d7dcde;
    border-radius: 2px;
    outline: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    border-color: #000000;
}

.write-us-form textarea {
    line-height: 24px;

    resize: vertical;
}

.write-us-form input::placeholder,
.write-us-form textarea::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.5);
}

.write-us-form input:focus::placeholder,
.write-us-form textarea:focus::placeholder {
    color: rgba(68, 68, 68, 1);
}

.write-us-form input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.write-us-form input[type="email"]:invalid:not(:focus):not(:placeholder-shown) {
    color: #e74246;

    border-color: #e74246;
}

.write-us-form button.button {
    padding: 18px 83px;

    outline: none;
}

.modal.write-us button.close-btn {
    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    background-image: url("../img/close-cross.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    opacity: 0.3;
    outline: none;
}

.modal.write-us button.close-btn:hover {
    opacity: 1;
}

.modal.write-us button.close-btn:active {
    opacity: 0.1;
}

@keyframes show-up {
    0% {transform: scale(0);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.show-modal {
    animation: show-up 0.6s;
}

@keyframes error {
    0%,
    100% { transform: translateX(0); }
    10%,
    30%,
    50%,
    70%,
    90% { transform: translateX(10px); }
    20%,
    40%,
    60%,
    80% { transform: translateX(-10px); }
  }

  .error-animation {
    animation: error 0.6s;
  }